
h1{
    color:snow;
    text-align: center;
    font-size: 90px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family:cursive;
}


h2{
    color:snow;
    font-family:cursive;
}


body{
    background-color: rgb(66, 64, 64);
}


form{
    display:block;
    text-align: center;
    padding: 20;
    font-family:cursive;
}

p{
    text-align: center;
}


input{
    padding-left: 39px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom:20px;
    font-size: 20px;
    border-radius: 30px;
    color:#333;
    background-color:snow;
    border: none;
    font-family: 'EB Garamond', serif;
}


.button{
    font-size: 30px;
    margin-top: 70px;
    padding: 10px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.24);
    cursor: pointer;
    color:#333;
    font-family:cursive
}

.container{
    color:snow;
    font-size: 20px;
    background-color:#333;
    width: 25%;
    text-align: center;
    margin-left: 715px;
    border-radius: 30px;
    font-family:cursive
    
}